<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Force HTTPS + WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.starallianceaviation\.com$ [NC]
RewriteRule ^(.*)$ https://www.starallianceaviation.com/$1 [R=301,L]

# Remove unwanted old URLs
RewriteRule ^team-member/?$ / [R=301,L]
RewriteRule ^testimonial/?$ / [R=301,L]
RewriteRule ^portfolio-category/?$ / [R=301,L]
RewriteRule ^service-category/?$ / [R=301,L]
RewriteRule ^category/blog/?$ / [R=301,L]
RewriteRule ^category/blog/feed/?$ / [R=301,L]

# Existing files and folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# React SPA fallback
RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /404.html